body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.section-banner {
    margin: 20px 70px 0 70px;
    padding: 50px;
}

.banner-part {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;
    border-radius: 30px;
    height: 496px;

}

.banner-part h1 {
    color: aliceblue;
}

.banner-p {
    color: white;
}

.banner-information {
    padding-left: 90px;
    padding-top: 30px;
}

.banner-information h1 {
    font-size: 45px;
    font-weight: 700;
}

.banner-img {
    width: 80%;
    padding-top: 20px;
    margin-top: 10px;
}

.banner-button {
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

/* main part */
.main-part {
    padding: 50px 115px 50px 120px;
}

.double-part {
    display: grid;
    grid-template-columns: repeat(1, 1fr) 3fr;
    grid-column-gap: 20px;
}

.a-class {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 10px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    padding: 30px;
    /* min-width: 213px; */
    /* min-height: 155px; */
}

.double-part a {
    text-decoration: none;
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;

}

#blog {
    text-decoration: none;
    background-color: red;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px;

}

.triple-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 5px;

}

.match-img {
    width: 100%;
    padding-right: 0;
}

.match-information {
    padding: 0 15px;
}

h4 {
    margin-bottom: 0;
}

.time {
    padding-right: 20px;
    padding-left: 15px;
    display: inline;
    margin-top: 0;
}

.gap {
    margin-right: 5px;
}

.buttton-p {
    text-align: center;
    display: none;
}

.viwe-all-btn {
    color: white;
    background-color: #DD0000;
    font-weight: 700;
    padding: 15px 25px;
    border-radius: 5px;
    border: none;
    justify-content: center;
}

/* foooter style */
footer {
    margin: 0;
    background-color: black;
    padding: 50px;
}

footer h1 {
    color: aliceblue;
    text-align: center;
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 0 70px;
    font-size: small;
}

.footer p {
    color: white;
}

.filled {
    color: #E8E8E8;
    font-size: 30px;
    margin-top: 60px;
    margin-right: 10px;

}

.footer-icon {
    text-align: center;
}